# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Batman-Arkham-Combat-main.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Batman-Arkham-Combat-main\.idea\.idea.Batman-Arkham-Combat-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
